// st
// --
@st-btn-disabled-color: rgba(0, 0, 0, 0.25);
@st-title-optional-color: rgba(0, 0, 0, 0.35);

// sv
// --
@sv-label-color: rgba(0, 0, 0, 0.5);
@sv-label-optional-color: rgba(0, 0, 0, 0.35);
@sv-detail-color: @text-color;
@sv-type-primary-color: @primary-color;
@sv-type-success-color: @success-color;
@sv-type-danger-color: @error-color;
@sv-type-warning-color: @warning-color;
@sv-bottom: @layout-gutter * 2;
@sv-default-text: '-';
@sv-unit-margin: 8px;
@sv-unit-color: @grey-7;
@sv-optional-margin: 2px;

// se
// --
@se-label-optional-color: rgba(0, 0, 0, 0.35);
@se-compact-bottom: @layout-gutter;
@se-optional-margin: 2px;

// avatar-list
// --
@avatar-list-mini-wh: 20px;

// error-collect
// --
@error-collect-color: #f5222d;

// footer-toolbar
// --
@footer-toolbar-height: 56px;
@footer-toolbar-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.03);
@footer-toolbar-bg: #fff;
@footer-toolbar-border-top: 1px solid @border-color-split;
@footer-toolbar-padding: 0 24px;

// page-header
// --
@page-header-bg: #fff;
@page-header-padding: 16px 32px 0 32px;
@page-header-wide: 1200px;

// quick-menu
// --
@quick-menu-border-width: 1px;
@quick-menu-ctrl-hw: 50px;
@quick-menu-border-color: #fff;
@quick-menu-bg: #fff;

// result
// --
@result-extra-bg: #fafafa;

// reuse-tab
// --
@reuse-tab-height: 52px;
@reuse-tab-bg: #fff;
@reuse-tab-padding: 8px;
@reuse-tab-border-color: #d9d9d9;

// down-file
// --
// - `hidden` 隐藏状态（默认）
// - `disabled` 禁用状态
@down-file-not-support-behavior: 'hidden';

// loading
// --
@loading-zindex: 9999;
@loading-backdrop-bg: rgba(0, 0, 0, 0.15);
@loading-icon-color: @primary-color;
@loading-text-color: @primary-color;

// onboarding
// --
@onboarding-mask-opacity: 0.5;
@onboarding-mask-background-color: #000;
@onboarding-light-background-color: rgba(255, 255, 255, 0.9);
@onboarding-light-ant: 2500ms cubic-bezier(0.55, 0.05, 0.6, 0.2) 0s infinite normal none running onboardingAnt;
@onboarding-light-ant-color: rgb(255, 255, 255);
@onboarding-changing-ant: all 0.3s ease-out;
@onboarding-zindex: 99999;
