@import './theme-default.less';

// st
// --
@st-btn-disabled-color: darken(@text-color, 30%);
@st-title-optional-color: darken(@text-color, 50%);

// sv
// --
@sv-label-color: rgba(255, 255, 255, 0.5);
@sv-label-optional-color: rgba(255, 255, 255, 0.35);

// se
// --
@se-label-optional-color: darken(@label-color, 50%);

// footer-toolbar
// --
@footer-toolbar-box-shadow: @shadow-1-up;
@footer-toolbar-bg: @popover-background;

// page-header
// --
@page-header-bg: @component-background;

// result
// --
@result-extra-bg: @background-color-light;

// quick-menu
// --
@quick-menu-border-color: @border-color-split;
@quick-menu-bg: @popover-background;

// reuse-tab
// --
@reuse-tab-bg: @component-background;
@reuse-tab-border-color: @border-color-split;

// onboarding
// --
@onboarding-light-background-color: rgba(0, 0, 0, 0.1);
@onboarding-light-ant-color: @component-background;
