@index-home-color: #314659;
@index-home-bg: #49a9ee;
@index-home-max-width: 1200px;

.index-page {
  color: #697b8c;

  #header {
    box-shadow: none;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 0;
    padding: 0 24px;
  }

  #nav.ant-menu-horizontal > .ant-menu-item-selected {
    border-top: none;
  }

  .page {
    width: 100%;
    max-width: @index-home-max-width;
    margin: auto;
    position: relative;
    padding: 0 24px;
    &-wrapper {
      overflow: inherit;
      position: relative;
      color: @index-home-color;
      font-family: Avenir, 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      font-variant: tabular-nums;
      z-index: 1;
    }
    h2 {
      font-size: 38px;
      line-height: 46px;
      color: @index-home-color;
      text-align: center;
      font-weight: 400;
      padding: 80px 0 40px;
    }
  }

  .page-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 520px;
    width: 100%;
    max-width: @index-home-max-width;
    margin: auto;
    position: relative;
    padding: 0 24px;
    &__slogan {
      width: 54%;
      max-width: 560px;
      min-width: 420px;
      min-height: 336px;
      color: #0d1a26;
      h1 {
        font-family: 'Futura', 'Helvetica Neue For Number', -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
          Helvetica, Arial, sans-serif;
        font-size: 54px;
        margin: 12px 0;
      }
      p {
        font-size: 20px;
      }
      .ant-btn {
        min-width: 110px;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
        margin-right: 16px;
      }
      &-btn {
        margin-top: 64px;
        line-height: 40px;
        align-items: center;
        display: flex;
        .github {
          display: flex;
        }
      }
    }
    &__img {
      width: 46%;
      max-width: 482px;
      height: 420px;
      overflow: hidden;
      position: absolute;
      right: 0;
      bottom: 0;
      img {
        height: 100%;
        border-radius: 8px;
      }
    }
  }

  .page-feature {
    position: relative;
    padding-bottom: 80px;
    color: #fff;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      bottom: 0;
      background: @index-home-bg;
      transform: skewY(-4.5deg);
      &-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        background: @index-home-bg;
      }
    }
    h2,
    h3 {
      color: #fff;
    }
    h2 {
      padding-top: 100px;
    }
    h3 {
      font-size: 18px;
    }
    &__item {
      display: flex;
      height: 100px;
      margin-bottom: 56px;
    }
    .anticon {
      font-size: 36px;
      padding-top: 8px;
      margin-right: 16px;
    }
  }

  .page-theme {
    background: #fff;
    overflow: hidden;
    margin-bottom: 48px;
    &__item {
      display: block;
      color: @index-home-color;
      text-align: center;
      margin-bottom: 32px;

      &:hover {
        color: @index-home-bg;
      }
      img {
        max-width: 80%;
      }

      h3,
      p {
        margin-top: 16px;
      }
    }
  }

  // 768
  @media (max-width: @screen-md-max) {
    #logo {
      padding-left: 0;
    }
    .page-banner {
      &__slogan {
        width: 100%;
        text-align: center;
        max-width: 100%;
        min-width: 100%;
        &-btn {
          justify-content: center;
          flex-wrap: wrap;
          > a,
          > github-button {
            margin-bottom: 16px;
          }
        }
      }
      &__img {
        display: none;
      }
    }
    .page-feature {
      &__item {
        flex-direction: column;
        text-align: center;
        .anticon {
          margin: 0 0 16px 0;
        }
      }
    }
  }
}