@sf-prefix: ~'.sf';
@sf-title-text-align: left;

@{sf-prefix} {
  display: block;
  &__optional {
    color: rgba(0, 0, 0, 0.45);
  }
  // 固定 label
  &__fixed {
    display: flex !important;
    nz-form-control,
    .@{ant-prefix}-form-item-control-wrapper {
      flex: 1;
    }
  }
  &__title {
    margin-bottom: 8px;
    padding: 0 16px;
    font-weight: 700;
    text-align: @sf-title-text-align;
  }
  // Array
  &__array {
    &-add {
      margin-right: 16px;
    }
      &-container {
      nz-card {
        margin: 0 16px 0 0;
        .remove {
          display: none;
          position: absolute;
          right: -16px;
          top: -16px;
          font-size: 20px;
          text-align: center;
          height: 32px;
          line-height: 32px;
          width: 32px;
          background: rgba(0, 0, 0, 0.26);
          border-radius: 50%;
          cursor: pointer;
          i {
            color: #fff;
          }
        }
        &:hover {
          .remove {
            display: block;
          }
        }
      }
    }
  }
  &__checkbox-list {
    width: 100%;
    display: block;
    @media (min-width: @mobile-min) {
      nz-col {
        margin-top: 8px;
      }
    }
  }
  // upload
  .@{ant-prefix}-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  .@{ant-prefix}-upload.@{ant-prefix}-upload-drag {
    height: 180px;
  }
  // transfer
  .@{ant-prefix}-transfer {
    &-list {
      background: #fff;
      &-header {
        label {
          position: unset;
        }
      }
    }
    .@{ant-prefix}-btn + .@{ant-prefix}-btn {
      margin-left: 0;
    }
  }
  // fix select width when inline mode
  .@{ant-prefix}-form-inline {
    sf-select {
      .@{ant-prefix}-form-item {
        display: inline-flex;
        > .@{ant-prefix}-form-item-control-wrapper {
          flex: 1 0 0;
        }
      }
    }
  }
  &__no-error {
    .@{ant-prefix}-form-item {
      margin-bottom: 8px;
    }
  }
  &__search {
    sf-item-wrap {
      .ant-form-item {
        display: inline-flex;
        .ant-form-item-control-wrapper {
          flex: 1;
        }
      }
    }
    .sf-btns {
      margin-right: 0;
    }
    @media (max-width: @mobile-max) {
      sf-item-wrap {
        .ant-form-item {
          display: block !important;
          width: initial !important;
          margin-right: 0;;
      }
      }
      .ant-form-item-label, .ant-form-item-control-wrapper {
        display: block !important;
        width: 100% !important;
        padding: inherit;
        line-height: @form-component-max-height - 0.0001px;
        text-align: left;
      }
    }
  }
}
