@alain-default-user-block-width: @alain-default-aside-wd - (@layout-gutter * 6);
@alain-default-user-block-avatar-hw: @avatar-size-lg;

.alain-default-aside-user-mixin(@enabled) when(@enabled=true) {
  @{alain-default-prefix}__aside-user {
    display: block !important;
    width: @alain-default-user-block-width;
    margin: 0 auto;
    padding-top: (@layout-gutter * 3);
    cursor: pointer;
    .@{ant-prefix}-dropdown-trigger {
      display: flex;
      align-items: center;
    }
    &-info {
      width: @alain-default-user-block-width - @alain-default-user-block-avatar-hw - @layout-gutter;
      color: @text-color;
    }
    &-avatar {
      margin-right: @layout-gutter;
    }
  }

  // Desktop
  @media (min-width: @mobile-min) {
    @{alain-default-prefix}__collapsed {
      @{alain-default-prefix}__aside-user {
        width: @alain-default-aside-collapsed-wd;
        &-info {
          display: none;
        }
        &-avatar {
          margin: 0 auto;
        }
      }
    }
  }
}
.alain-default-aside-user-mixin(@alain-default-aside-user-enabled);
