<div class="banner-wrapper">
  <div class="banner-title-wrapper">
    <h1>Ng Alain</h1>
    <p>一个基于 Antd 中后台前端解决方案，提供更多通用性业务模块，让开发者更加专注于业务。</p>
    <div class="button-wrapper">
      <a routerLink="/docs/getting-started/{{i18n.zone}}">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'">{{'app.home.start' | translate}}</button>
      </a>
      <a href="//cipchk.github.io/ng-alain/" target="_blank" rel="noopener noreferrer">
        <button nz-button [nzSize]="'large'">{{'app.home.preview' | translate}}</button>
      </a>
      <github-button type="stargazers" size="large" namespace="cipchk" repo="ng-alain"></github-button>
    </div>
  </div>
  <div class="banner-image-wrapper">
    <a href="//e.ng-alain.com/theme/antd-pro" target="_blank">
      <img src="//i.ng-alain.com/18/0603/02ae06d9-1679-4960-b48b-149f39e0b8ee.png_/format/webp/lossless/true" alt="thank you">
    </a>
  </div>
</div>
