node_modules
npm-debug.log
# package-lock.json
pnpm-lock.yaml
/coverage
/coverage-report
/junit
/archive-docs

.eslintcache

.tmp
.lib
*.iml
/dist
/src/dist
.idea
debug.log
__ngcc_entry_points__.json
report.*.json
/.angular/cache
/.husky/_

src/app/routes/gen
src/assets/color.less
src/assets/style.compact.css
src/assets/style.dark.css
/scaffold
/_scaffold
/ng-alain
/integration
scripts/build/var.less
/schematics/plugin/files/rtl

# Yarn
yarn-error.log
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
