node_modules
npm-debug.log
# package-lock.json
yarn.lock
yarn-error.log
/coverage
/coverage-report
/junit

.tmp
.lib
*.iml
/dist
# /src/dist
.idea
debug.log
__ngcc_entry_points__.json

src/app/routes/gen
src/assets/color.less
/scaffold
/_scaffold
/ng-alain
/integration
