{
  "printWidth": 140,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 160
      }
    }
  ]
}
