**/*.md
**/*.svg
# **/*.html
**/test.ts

.stylelintrc
.prettierrc

_nginx/
_screenshot/
node_modules/
coverage/
dist/
package.json
src/app/routes/gen/
src/templates/
packages/schematics/**/files/
packages/schematics/**/test-cases/
