sudo: required
language: node_js
node_js:
  - "8.11"

env:
  - TASK=release
  - TASK=test
  - TASK=test:schematics
  - TASK=lint
  - TASK=site:release
  - TASK=scaffold:release_optional

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

git:
  depth: 1

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g @angular/cli
  - npm install -g karma
  - npm install -g yarn

script:
  - npm run fix-v6
  - npm run $TASK
  - |
    if [ "$TASK" = "test" ]; then
      cat ./coverage/lcov.info | ./node_modules/.bin/codecov
    fi
