# cli
application/files/__dot__vscode
application/files/_nginx
application/files/e2e
application/files/docker-compose.debug.yml
application/files/docker-compose.yml
application/files/Dockerfile
application/files/LICENSE
application/files/README.md
application/files/README-zh_CN.md
application/files/tslint.json
application/files/karma.conf.js
application/files/tsconfig.json
application/files/protractor.conf.js
application/files/__sourcedir__/styles
application/files/__sourcedir__/testing
application/files/__sourcedir__/environments
application/files/__sourcedir__/favicon.ico
application/files/__sourcedir__/hmr.ts
application/files/__sourcedir__/main.ts
application/files/__sourcedir__/test.ts
application/files/__sourcedir__/tsconfig.spec.json
application/files/__sourcedir__/typings.d.ts
application/other-files/core/i18n
application/other-files/core/net
application/other-files/core/module-import-guard.ts
application/other-files/core/README.md
application/other-files/shared/README.md
application/other-files/routes/callback
application/other-files/routes/exception
application/other-files/routes/passport
utility
class
directive
enum
interface
pipe
service
guard
app-shell
