<div style="max-width: 80%; margin: 0 auto;">
    <nz-card style="margin-top: 24px;">
        <form nz-form>
            <nz-form-item>
                <edit-item [data]="data['primary-color']"></edit-item>
                <edit-item [data]="data['font-family']"></edit-item>
            </nz-form-item>
            <nz-form-item>
                <edit-item [data]="data['icon-url']"></edit-item>
            </nz-form-item>
            <nz-tabset>
                <nz-tab nzTitle="顶部">
                    <nz-form-item>
                        <edit-item [data]="data['header-hg']"></edit-item>
                        <edit-item [data]="data['header-bg']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['header-padding']"></edit-item>
                    </nz-form-item>
                </nz-tab>
                <nz-tab nzTitle="侧边栏">
                    <nz-form-item>
                        <edit-item [data]="data['aside-wd']"></edit-item>
                        <edit-item [data]="data['aside-bg']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['aside-collapsed-wd']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['aside-nav-padding-top-bottom']"></edit-item>
                        <edit-item [data]="data['aside-nav-padding-top-bottom']"></edit-item>
                    </nz-form-item>
                </nz-tab>
                <nz-tab nzTitle="主菜单">
                    <nz-form-item>
                        <edit-item [data]="data['aside-nav-fs']"></edit-item>
                        <edit-item [data]="data['aside-collapsed-nav-fs']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['aside-nav-item-height']"></edit-item>
                        <edit-item [data]="data['aside-nav-group-text-color']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['aside-nav-text-color']"></edit-item>
                        <edit-item [data]="data['aside-nav-text-hover-color']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['aside-nav-selected-text-color']"></edit-item>
                        <edit-item [data]="data['aside-nav-selected-bg']"></edit-item>
                    </nz-form-item>
                </nz-tab>
                <nz-tab nzTitle="内容">
                    <nz-form-item>
                        <edit-item [data]="data['content-heading-bg']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['content-heading-bg']"></edit-item>
                        <edit-item [data]="data['content-heading-border']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['content-padding']"></edit-item>
                    </nz-form-item>
                </nz-tab>
                <nz-tab nzTitle="zorro组件修正">
                    <nz-form-item>
                        <edit-item [data]="data['form-state-visual-feedback-enabled']"></edit-item>
                        <edit-item [data]="data['preserve-white-spaces-enabled']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['nz-table-img-radius']"></edit-item>
                        <edit-item [data]="data['nz-table-img-margin-right']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['nz-table-img-max-width']"></edit-item>
                        <edit-item [data]="data['nz-table-img-max-height']"></edit-item>
                    </nz-form-item>
                </nz-tab>
                <nz-tab nzTitle="其它">
                    <nz-form-item>
                        <edit-item [data]="data['scrollbar-width']"></edit-item>
                        <edit-item [data]="data['scrollbar-height']"></edit-item>
                    </nz-form-item>
                    <nz-form-item>
                        <edit-item [data]="data['scrollbar-track-color']"></edit-item>
                        <edit-item [data]="data['scrollbar-thumb-color']"></edit-item>
                    </nz-form-item>
                </nz-tab>
            </nz-tabset>
            <nz-form-item>
                <nz-form-control [nzSpan]="20" [nzOffset]="4">
                    <button nz-button nzType="primary" (click)="apply()">应用</button>
                    <button nz-button (click)="reset()">重置所有</button>
                    <button nz-button nzType="dashed" (click)="showGen(codeTpl)">生成主题参数</button>
                    <button nz-button nzType="dashed" (click)="showParse(parseTpl)">还原主题参数</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
    <nz-card style="margin-top: 24px;">
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzSpan]="4">文本框</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <input nz-input value="test">
                    <a href="#">链接文字</a>
                </nz-form-control>
                <nz-form-label [nzSpan]="4">数字框</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <nz-input-number [ngModel]="3" [ngModelOptions]="{standalone: true}"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="4">开关</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <nz-switch [ngModel]="true" [ngModelOptions]="{standalone: true}"></nz-switch>
                </nz-form-control>
                <nz-form-label [nzSpan]="4">滑动输入条</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <nz-slider [nzDefaultValue]="30"></nz-slider>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="4">单选</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <label nz-radio [ngModel]="true" [ngModelOptions]="{standalone: true}">Radio</label>
                </nz-form-control>
                <nz-form-label [nzSpan]="4">多选</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <label nz-checkbox [ngModel]="true" [ngModelOptions]="{standalone: true}">Checkbox</label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="20" [nzOffset]="4">
                    <button nz-button nzType="primary">确定</button>
                    <button nz-button>重置</button>
                    <button nz-button nzType="danger">删除</button>
                    <button nz-button nzType="dashed">还原</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>
<ng-template #codeTpl>
    <p>直接复制内容至 styles/theme.less 即可：</p>
    <textarea [ngModel]="code" nz-input [nzAutosize]="{ minRows: 2 }"></textarea>
</ng-template>
<ng-template #parseTpl>
    <p>将 styles/theme.less 的内容粘贴：</p>
    <textarea [(ngModel)]="parse" nz-input [nzAutosize]="{ minRows: 2 }" [ngModelOptions]="{standalone: true}"></textarea>
</ng-template>
