<i class="anticon anticon-menu nav-phone-icon" (click)="toggleMenu()"></i>
<div nz-row>
    <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="5">
        <a routerLink="/" class="logo">
            <nz-tooltip nzTitle="{{ 'app.footer.qqgroup' | translate}}: 316911865">
                <span nz-tooltip (click)="onCopy('316911865')">
                    <img src="./assets/img/logo-color.svg" />
                    <span>ng-alain</span>
                </span>
            </nz-tooltip>
        </a>
    </div>
    <div class="header-menu" nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="19">
        <div class="search-box">
            <i class="anticon anticon-search"></i>
            <nz-select [nzPlaceHolder]="'app.header.search' | translate"
                       [ngModel]="item" (ngModelChange)="select($event)"
                       nzShowSearch nzAllowClear>
                <ng-container *ngFor="let i of list">
                    <nz-option [nzLabel]="i.type" [nzDisabled]="true"></nz-option>
                    <nz-option *ngFor="let entry of i.list"
                        [nzLabel]="genTitle(entry)"
                        [nzValue]="'/' + i.type + '/' + entry.name">
                    </nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div class="header-meta">
            <div class="menu">
                <ul nz-menu [nzMode]="'horizontal'">
                    <li nz-menu-item routerLink="/">{{'app.header.menu.home' | translate}}</li>
                    <li nz-menu-item routerLink="/docs">{{'app.header.menu.docs' | translate}}</li>
                    <li nz-menu-item routerLink="/components">{{'app.header.menu.components' | translate}}</li>
                    <li nz-menu-item>
                        <nz-dropdown nzPlacement="bottomRight">
                            <span nz-dropdown>{{'app.header.menu.tool' | translate}}</span>
                            <ul nz-menu>
                                <li nz-menu-item routerLink="/theme">{{'app.header.menu.theme' | translate}}</li>
                                <li nz-menu-item routerLink="/6to7">{{'app.header.menu.upgrade' | translate}}</li>
                            </ul>
                        </nz-dropdown>
                    </li>
                </ul>
            </div>
            <div class="preview">
                <a class="preview-button" href="//cipchk.github.io/ng-alain/" target="_blank" rel="noopener noreferrer">
                    <button nz-button>
                        <i class="anticon anticon-eye-o"></i><span>{{'app.home.preview' | translate}}</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
