@import '../../../theme/theme-default.less';
@pdf-prefix: ~'.pdf';

@{pdf-prefix} {
  &-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
