<ng-container *ngIf="isMobile">
  <i nz-icon type="menu" class="header-menu-icon" nz-popover [(nzVisible)]="menuVisible" [nzTitle]="null" nzTrigger="click" nzPlacement="bottomRight" [nzContent]="mobileMenu"></i>
  <ng-template #mobileMenu>
    <div class="header-menu">
      <div class="d-flex justify-content-between align-items-center">
        <nz-select nzSize="small" style="width: 75px;" [ngModel]="currentVersion" (ngModelChange)="toVersion($event)" class="flex-1 mr-md">
          <nz-option *ngFor="let version of oldVersionList" [nzLabel]="version" [nzValue]="version"></nz-option>
          <nz-option [nzLabel]="currentVersion" [nzValue]="currentVersion"></nz-option>
        </nz-select>
        <button nz-button nzType="default" nzSize="small" (click)="langChange(i18n.zone==='zh'?'en':'zh')">
          {{ 'app.header.lang' | translate}}
        </button>
      </div>
      <ul nz-menu nzMode="inline" class="text-center menu-site">
        <li nz-menu-item (click)="toViaMobile('/docs/getting-started')">
          {{'app.header.menu.docs' | translate}}
        </li>
        <li nz-menu-item (click)="toViaMobile('/components/view')">
          {{'app.header.menu.components' | translate}}
        </li>
        <li nz-submenu>
          <span title>{{'app.header.menu.delon' | translate}}</span>
          <ul>
            <li *ngFor="let i of delon" nz-menu-item (click)="toViaMobile(i)">
              {{'app.header.menu.' + i | translate}}
            </li>
          </ul>
        </li>
        <li nz-menu-item>
          <a href="https://e.ng-alain.com/" target="_blank">
            {{'app.header.menu.themes' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
</ng-container>
<nz-row>
  <nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="5" nzXl="5" nzXXl="4">
    <a routerLink="/{{i18n.zone}}">
      <nz-tooltip nzTitle="{{ 'app.footer.qqgroup' | translate}}: 428749721">
        <span nz-tooltip (click)="onCopy('428749721')" id="logo">
          <img src="./assets/img/logo-color.svg" style="max-height: 32px;" />
          <img src="./assets/img/ng-alain.svg" style="max-height: 32px;" />
        </span>
      </nz-tooltip>
    </a>
  </nz-col>
  <nz-col nz-col nzXs="0" nzSm="0" nzMd="18" nzLg="19" nzXl="19" nzXXl="20">
    <div class="header-menu-container">
      <div id="search-box">
        <i nz-icon type="search"></i>
        <input *ngIf="useDocsearch" nz-input #searchInput [placeholder]="'app.header.search' | translate">
        <nz-select *ngIf="!useDocsearch" style="width: 200px;" [ngModel]="q" (ngModelChange)="to($event)" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="changeQ($event)" [nzPlaceHolder]="'app.header.search' | translate">
          <nz-option-group *ngFor="let group of list" [nzLabel]="group.title">
            <nz-option *ngFor="let option of group.children" [nzValue]="option" [nzLabel]="option.title"></nz-option>
          </nz-option-group>
        </nz-select>
      </div>
      <div *ngIf="!isMobile" class="header-menu">
        <ul nz-menu nzMode="horizontal" class="menu-site" id="nav">
          <li nz-menu-item routerLink="/docs/getting-started/{{i18n.zone}}">
            {{'app.header.menu.docs' | translate}}
          </li>
          <li nz-menu-item routerLink="/components/view/{{i18n.zone}}">
            {{'app.header.menu.components' | translate}}
          </li>
          <li nz-menu-item>
            <div nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="delonMenu">{{'app.header.menu.delon' | translate}}</div>
            <nz-dropdown-menu #delonMenu="nzDropdownMenu">
              <ul nz-menu>
                <li *ngFor="let i of delon" nz-menu-item routerLink="/{{i}}/getting-started/{{i18n.zone}}">
                  {{'app.header.menu.' + i | translate}}
                </li>
              </ul>
            </nz-dropdown-menu>
          </li>
          <li nz-menu-item>
            <a href="https://e.ng-alain.com/" target="_blank">
              {{'app.header.menu.themes' | translate}}
            </a>
          </li>
        </ul>
        <nz-select nzSize="small" class="version" style="width: 75px;" [ngModel]="currentVersion" (ngModelChange)="toVersion($event)">
          <nz-option *ngFor="let version of oldVersionList" [nzLabel]="version" [nzValue]="version"></nz-option>
          <nz-option [nzLabel]="currentVersion" [nzValue]="currentVersion"></nz-option>
        </nz-select>
        <button nz-button nzGhost nzSize="small" (click)="langChange(i18n.zone==='zh'?'en':'zh')" class="header-lang-button">
          {{ 'app.header.lang' | translate}}
        </button>
      </div>
    </div>
  </nz-col>
</nz-row>
