<div class="footer-wrap">
    <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>ng-alain</h2>
                <div><a href="//github.com/cipchk/ng-alain" target="_blank">Github</a></div>
                <div><a href="//github.com/cipchk/delon" target="_blank">@delon</a></div>
                <div><a href="//github.com/cipchk/ng-zorro-vscode" target="_blank">ng-zorro-vscode</a></div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>{{'app.footer.resources' | translate}}</h2>
                <div>
                    <a href="//www.angular.cn/" target="_blank">Angular</a>
                    <span> - </span>
                    {{ 'app.footer.angular' | translate}}
                </div>
                <div>
                    <a href="//ng.ant.design" target="_blank">ng-zorro-antd</a>
                    <span> - </span>
                    {{ 'app.footer.antd' | translate}}
                </div>
                <div>
                    <a href="//cli.angular.io/" target="_blank">CLI</a>
                    <span> - </span>
                    {{ 'app.footer.cli' | translate}}
                </div>
                <div>
                    <a href="//antv.alipay.com/" target="_blank">AntV</a>
                    <span> - </span>
                    {{ 'app.footer.antv' | translate}}
                </div>
                <div>
                    <a href="//www.ngfans.net" target="_blank">ngfans</a>
                    <span> - </span>
                    {{ 'app.footer.ngfans' | translate}}
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>{{'app.footer.community' | translate}}</h2>
                <div><a routerLink="/docs/changelog">{{ 'app.footer.change-log' | translate}}</a></div>
                <div><a routerLink="/docs/faq">{{ 'app.footer.faq' | translate}}</a></div>
                <div><a href="//github.com/cipchk/ng-alain/issues" target="_blank">{{ 'app.footer.issues' | translate}}</a></div>
                <div><a (click)="onCopy('316911865')">{{ 'app.footer.qqgroup' | translate}}</a></div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                Copyright © 2017 <a href="//github.com/cipchk" target="_blank">@卡色</a>
                <div class="translate-button">
                    <button nz-button [nzGhost]="true" (click)="langChange()">{{ 'app.header.lang' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
