<div class="footer-wrap">
    <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>ng-alain</h2>
                <ul>
                    <li><a href="//github.com/cipchk/ng-alain" target="_blank">Github</a></li>
                    <li><a href="//github.com/cipchk/delon" target="_blank">@delon</a></li>
                    <li><a href="//github.com/cipchk/ng-zorro-antd-extra" target="_blank">ng-zorro-antd-extra</a></li>
                    <li><a href="//github.com/cipchk/ng-zorro-vscode" target="_blank">ng-zorro-vscode</a></li>
                </ul>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>{{'app.footer.resources' | translate}}</h2>
                <ul>
                    <li>
                        <a href="//www.angular.cn/" target="_blank">Angular</a>
                        <span> - </span>
                        {{ 'app.footer.angular' | translate}}
                    </li>
                    <li>
                        <a href="//ng.ant.design" target="_blank">ng-zorro-antd</a>
                        <span> - </span>
                        {{ 'app.footer.antd' | translate}}
                    </li>
                    <li>
                        <a href="//cli.angular.io/" target="_blank">CLI</a>
                        <span> - </span>
                        {{ 'app.footer.cli' | translate}}
                    </li>
                    <li>
                        <a href="//antv.alipay.com/" target="_blank">AntV</a>
                        <span> - </span>
                        {{ 'app.footer.antv' | translate}}
                    </li>
                </ul>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                <h2>{{'app.footer.community' | translate}}</h2>
                <ul>
                    <li><a href="//ng-alain.com/#/docs/changelog" target="_blank">{{ 'app.footer.change-log' | translate}}</a></li>
                    <li><a routerLink="/docs/faq">{{ 'app.footer.faq' | translate}}</a></li>
                    <li><a href="//github.com/cipchk/ng-alain/issues" target="_blank">{{ 'app.footer.issues' | translate}}</a></li>
                </ul>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzLg="6">
            <div class="footer-center">
                Copyright © 2017 <a href="//github.com/cipchk" target="_blank">@卡色</a>
                <div class="translate-button">
                    <button nz-button [nzGhost]="true" (click)="langChange()">{{ 'app.header.lang' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
