<section class="code-box-demo" [ngStyle]="{'background': item.meta.bg}">
    <div [ngClass]="{'browser-mockup': item.meta.browser}" [ngStyle]="{'height.px': item.meta.browser}">
        <div [ngClass]="{'browser-scroll': item.meta.browser}">
            <ng-content></ng-content>
        </div>
    </div>
</section>
<section class="code-box-meta markdown">
    <div class="code-box-title">
        {{i18n.get(item.meta.title)}}
        <edit-button [item]="item"></edit-button>
    </div>
    <div [innerHTML]="i18n.get(item.summary)"></div>
    <nz-tooltip [nzTitle]="expand ? 'Hide Code' : 'Show Code'">
        <span class="code-expand-icon" nz-tooltip>
            <img
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg"
                [ngClass]="{'code-expand-icon-hide': expand, 'code-expand-icon-show': !expand}"
                (click)="handle()"
              />
            <img
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg"
                [ngClass]="{'code-expand-icon-show': expand, 'code-expand-icon-hide': !expand}"
                (click)="handle()"
            />
        </span>
    </nz-tooltip>
</section>
<section class="highlight-wrapper" [ngClass]="{'highlight-wrapper-expand': expand}">
    <div class="highlight">
        <div class="code-box-actions">
            <nz-tooltip [nzTitle]="'app.demo.stackblitz' | translate">
              <i nz-tooltip class="anticon anticon-form code-box-code-copy" (click)="openOnStackBlitz()"></i>
            </nz-tooltip>
            <nz-tooltip [nzTitle]="'app.demo.copy' | translate">
                <i nz-tooltip (click)="onCopy(item.code)" class="anticon anticon-copy code-box-code-copy"></i>
            </nz-tooltip>
        </div>
        <pre class="hljs language-{{item.lang}}"><code>{{item.code}}</code></pre>
    </div>
</section>
