<ng-template #menuCon>
  <div class="main-menu-wrap scrollbar">
    <ul nz-menu [nzMode]="'inline'" style="padding-bottom: 64px;">
      <li nz-submenu nzOpen *ngFor="let group of meta.menus">
        <span title>{{group.title}}</span>
        <ul>
          <li nz-menu-item *ngFor="let item of group.list" (click)="to(item.url)" [routerLink]="item.url" [routerLinkActive]="['ant-menu-item-selected']" style="padding-left: 54px;">
            <nz-badge [nzDot]="item.hot">
              {{item.title}}
              <span class="chinese">{{item.subtitle}}</span>
              <nz-tag *ngIf="item.lib" [nzColor]="'blue'" title="Full Library" class="ml-sm">LIB</nz-tag>
            </nz-badge>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ng-template>
<ng-container *ngIf="!isMobile; else menuCon">
  <nz-affix>
    <ng-template [ngTemplateOutlet]="menuCon"></ng-template>
  </nz-affix>
</ng-container>