@g2-water-wave-prefix: ~'.g2-water-wave';

@{g2-water-wave-prefix} {
  position: relative;
  display: inline-block;

  &__chart {
    position: relative;
    overflow: hidden;
  }

  &__desc {
    pointer-events: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    text-align: center;

    &-title {
      font-size: 14px;
      line-height: 22px;
      color: @text-color-secondary;
    }
  }
}
