@import '../../../theme/system/theme-default.less';
@import './variable.less';

@{g2-water-wave-prefix} {
  position: relative;
  display: inline-block;
  transform-origin: left;
  &__desc {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    text-align: center;
    &-title {
      color: @text-color-secondary;
      font-size: 14px;
      line-height: 22px;
    }
    &-percent {
      color: @heading-color;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__canvas {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}
