html.rtl {
  direction: rtl;
}

body {
  font-family: @font-family;
  font-size: 14px;
  color: @site-text-color;
  background: @body-background;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  transition: color 0.3s ease;
}

#ng-content {
  display: block;
  height: 100%;
  transition: transform 0.3s @ease-in-out-circ;
}

.fetching {
  position: absolute;
  z-index: 99;
  top: 16px;
  left: 16px;
}

#header,
#header #search-box,
#header #nav.ant-menu,
.main-wrapper,
.main-wrapper > .ant-row > .main-menu .main-menu-inner > .ant-menu,
.main-wrapper
> .ant-row
> .main-menu
.main-menu-inner
> .ant-menu.aside-container.ant-menu-inline
> .ant-menu-item-group
> .ant-menu-item-group-title::after,
.main-wrapper .main-container,
#demo-toc.toc {
  transition: all 0.3s @ease-in-out-circ;
}
