#header .ant-row-rtl {
  github-button .gh-count {
    display: none !important;
  }
}

.copy-import-module {
  cursor: pointer;
  padding: 2px 6px;
  font-size: 12px;
  color: #fff;
  background: @highlight-color;
  border-radius: 34px;
}

.menu-deprecated {
  .ant-badge {
    color: @error-color;
    text-decoration: line-through;
    opacity: 0.5;
  }
}
