#page-404 {
  position: fixed;
  z-index: 100;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://os.alipayobjects.com/rmsportal/NOAjOBbnYCrNzrW.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;

  section {
    position: absolute;
    top: 48%;
    left: 55%;
    margin: -103px 0 0 -120px;
    text-align: center;
  }

  h1 {
    font-size: 120px;
    font-weight: 500;
    color: @primary-color;
  }

  .links {
    font-size: 18px;
    color: @site-text-color;

    a {
      margin-left: 8px;
    }
  }
}
