// Small screen / tablet
@media (min-width: @screen-sm) {
  .modal-sm .@{ant-prefix}-modal {
    width: auto !important;
    max-width: @modal-sm;
  }
}

// Medium screen / desktop
@media (min-width: @screen-md) {
  .modal-md .@{ant-prefix}-modal {
    width: auto !important;
    max-width: @modal-md;
  }
}

// Large screen / wide desktop
@media (min-width: @screen-lg) {
  .modal-lg .@{ant-prefix}-modal {
    width: auto !important;
    max-width: @modal-lg;
  }
}

// Extra large screen / large descktop
@media (min-width: @screen-xxl) {
  .modal-xl .@{ant-prefix}-modal {
    width: auto !important;
    max-width: @modal-xl;
  }
}

.modal {
  &-header {
    /**
      * 对话框顶部区域，用于对话框目标组件内使用
      * The header of the modal for for use in modal target components
      */
    display: flex;
    justify-content: space-between;
    margin: -@margin-lg -@margin-lg @margin-lg -@margin-lg;
    padding: @modal-header-padding;
    background: @component-background;
    border-bottom: @border-width-base @border-style-base @border-color-split;
    border-radius: @border-radius-base @border-radius-base 0 0;
  }
  &-title {
    margin: 0;
    color: @modal-heading-color;
    font-weight: 500;
    font-size: @font-size-lg;
    line-height: 22px;
    word-wrap: break-word;
    small {
      margin-left: @layout-gutter;
      color: @muted-color;
      font-size: 12px;
    }
  }
  &-spin {
    display: block;
    min-height: 150px;
    line-height: 150px;
    text-align: center;
  }

  &-footer {
    /**
      * 对话框底部区域，用于对话框目标组件内使用
      * The footer of the modal for for use in modal target components
      */
    margin: @margin-lg -@margin-lg -@margin-lg -@margin-lg;
    padding: @modal-footer-padding-vertical @modal-footer-padding-horizontal;
    text-align: right;
    border-top: @border-width-base @border-style-base @border-color-split;
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }
  &-include-tabs {
    /**
      * 对话框内容是否包裹 `nz-tabs`，清除带来的多余边距
      * Whether the content of the modal is wrapped with `nz-tabs`, to clear the extra margin
      */
    nz-tabset {
      margin-top: -16px;
    }
  }
  &-body-nopadding {
    /**
      * 清除对话框内容内边距
      * Clear inner margin of modal content
      */
    .@{ant-prefix}-modal-body {
      padding: 0 !important;
    }
  }
}
