import { Injectable } from '@angular/core';
import { _HttpClient } from '@delon/theme';

@Injectable(<% if(service === 'root') { %>{ providedIn: 'root' }<% } %>)
export class <%= serviceName %> {

  constructor(private http: _HttpClient) { }

}
