@import '../../../theme/theme-default.less';
@error-collect-prefix: ~'.error-collect';

@{error-collect-prefix} {
  padding-right: 24px;
  color: @error-collect-color;
  cursor: pointer;
  &__count {
    padding-left: 8px;
  }
}

@import './rtl.less';
