<span class="type-label type-label__config" (click)="isVisible=true">{{'app.component.config.title' | translate}}</span>
<nz-modal [(nzVisible)]="isVisible" nzTitle="DEMO" nzWidth="650" [nzFooter]="null" (nzOnCancel)="isVisible=false">
  <pre class="lang-typescript m0">import &#123; {{ meta.item.config }} &#125; from '{{meta.item.module_name}}';
export function fn{{ meta.item.config }}(): {{ meta.item.config }} &#123;
  return &#123; ...new {{ meta.item.config }}(), ...&#123; &#125; as {{ meta.item.config }} &#125;;
&#125;

@NgModule(&#123; &#125;)
export class DelonModule &#123;
  static forRoot(): ModuleWithProviders &#123;
    return &#123;
      ngModule: DelonModule,
      providers: [
        &#123; provide: {{ meta.item.config }}, useFactory: fn{{ meta.item.config }} &#125;
      ]
    &#125;;
  &#125;
&#125;</pre>
</nz-modal>
