// placeholder
@placeholder-margin-vertical:                   15px;
@placeholder-padding:                           20px;
@placeholder-border:                            #ddd;
@placeholder-background:                        #fafafa;
@placeholder-color:                             #444;
@placeholder-large-padding-vertical:            80px;
