.widget-badge-mixin(@enabled) when(@enabled=true) {
  .badge {
    /**
     * @deprecated Will be removed in 12.0.0, Pls used `nz-badge` instead
     */
    display: inline-block;
    padding: @badge-padding;
    font-size: @badge-font-size;
    line-height: 20px;
    color: @badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: @border-radius-base;

    // Empty badges collapse automatically
    &:empty {
      display: none;
    }

    em {
      font-style: normal;
    }

    &-dot {
      display: inline-block;
      width: @layout-gutter;
      height: @layout-gutter;
      padding: 0;
      border-radius: 50%;
      > * {
        display: none;
      }
    }
  }

  // Colors
  .badge-variant(@bg) {
    .color-yiq(@bg);
    background-color: @bg;
  }

  .for-each(@colors, {
    .badge-@{adKey} {
      @colors-badge-color: extract(@adItem, @color-basic-position);
      e(~`genCommentColor('@{colors-badge-color}', 'Set the badge background color to {0}', '设置微标背景颜色为 {0}')`);
      .badge-variant(color(@colors-badge-color));
    }
  });

  .for-each(@aliasColors, {
    .badge-@{adKey} {
      e(~`genCommentColor('@{adValue}', 'Set the badge background color to {0}', '设置微标背景颜色为 {0}')`);
      .badge-variant(color(@adValue));
    }
  });
}

.widget-badge-mixin(@badge-enabled);
