.header-dropdown {
  background-color: #fff;
  box-shadow: @shadow-1-down;
  border-radius: 4px;
}

@media screen and (max-width: @screen-xs) {
  .header-dropdown {
    width: 100% !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
  }
}
