// table
@nz-table-img-radius:          4px;
@nz-table-img-margin-right:    4px;
@nz-table-img-max-height:      32px;
@nz-table-img-max-width:       32px;

// responsive
@nz-table-rep-max-width: @mobile-max;
@nz-table-rep-header-background: @border-color-split;
@nz-table-rep-even-background: #f9f9f9;
@nz-table-rep-padding-vertical: @table-padding-vertical / 2;
@nz-table-rep-padding-horizontal: @table-padding-horizontal / 2;
@nz-table-rep-column-name-width: 100px;
@nz-table-rep-column-name-text-align: right;
@nz-table-rep-column-name-padding-right: 8px;
@nz-table-rep-column-name-color: rgba(0, 0, 0, 0.5);
