@import '../../../theme/styles/default.less';

@reuse-tab-prefix:          ~'.reuse-tab';
@reuse-tab-height:          52px;
@reuse-tab-bg:              #fff;
@reuse-tab-padding:         8px;
@reuse-tab-border-color:    #d9d9d9;

@{reuse-tab-prefix} {
  display: block;
  background-color: @reuse-tab-bg;
  padding: @reuse-tab-padding;
  border-bottom: 1px solid @reuse-tab-border-color;
  outline: none;
  user-select: none;
  .@{ant-prefix}-tabs-bar {
    margin-bottom: 0;
    border-bottom: none;
  }
  .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-tab {
    padding: 0;
    .name {
      display: inline-block;
      padding: 8px 20px;
    }
    @{reuse-tab-prefix}__op {
      display: none;
      position: absolute;
      top: 14px;
      right: 2px;
      margin: 0;
      font-size: 10px;
    }
    &:hover {
      @{reuse-tab-prefix}__op {
        display: block;
      }
    }
  }
}

@{reuse-tab-prefix}__cm {
  .@{ant-prefix}-menu {
    border: 1px solid #e9e9e9;
  }
}
