<div class="banner-wrapper">
    <div class="banner-title-wrapper">
        <h1>ng-alain</h1>
        <p>基于ng-zorro-antd的中台前端解决方案</p>
        <div class="button-wrapper">
            <a href="//cipchk.github.io/ng-alain/" target="_blank" rel="noopener noreferrer">
                <button nz-button [nzType]="'primary'" [nzSize]="'large'">{{'app.home.preview' | translate}}</button>
            </a>
            <a routerLink="/docs">
                <button nz-button [nzSize]="'large'" style="margin: 0px 16px">{{'app.home.start' | translate}}</button>
            </a>
            <a class="github" href="//github.com/cipchk/ng-alain/" target="_blank">
                <img src="https://img.shields.io/github/stars/cipchk/ng-alain.svg?style=social&label=Star">
            </a>
        </div>
    </div>
    <div class="banner-image-wrapper"></div>
</div>
