// router ant
@router-animation-name:     antFadeIn;
@router-animation-duration: 1s;

// https://github.com/angular/angular/issues/9845
// 一种路由切换动画的简单实现
app-layout router-outlet + * {
  display: block;
  animation-duration: @router-animation-duration;
  // animation-fill-mode: both;
	animation-name: @router-animation-name; // fadeIn;
}
