name: Deploy

on: push

jobs:
  website:
    if: "startsWith(github.event.commits[0].message, 'release')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0

      - name: checkout
        uses: actions/checkout@v4

      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install

      - name: build
        # Copy dockerfile.docs & _nginx just only for ng-alain.com
        run: |
          yarn run site:build
          cp ./src/dist/browser/index.html ./src/dist/browser/404.html
          cp ./Dockerfile.docs ./src/dist/browser/Dockerfile.docs
          cp -r ./_nginx/ ./src/dist/browser/_nginx

      - name: deploy-to-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./src/dist/browser
        with:
          emptyCommits: false

      - name: deploy-to-surge
        uses: dswistowski/surge-sh-action@v1
        with:
          login: ${{ secrets.SURGE_LOGIN }}
          token: ${{ secrets.SURGE_TOKEN }}
          domain: https://ng-alain-doc.surge.sh
          project: ./src/dist/browser

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.docs
          push: true
          tags: cipchk/ng-alain-docs:latest
