name: Deploy website

on: push

# on:
#   push:
#     branches:
#       - 'publish-**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: install
        run: npm install

      - name: build
        run: |
          npm run site:gen
          node scripts/ci/build-no-lvy
          node --max_old_space_size=5120 ./node_modules/@angular/cli/bin/ng build --prod --base-href /delon/

      - name: gen 404.html
        run: cp ./src/dist/index.html ./src/dist/404.html

      - name: deploy-to-surge
        uses: yohix/deploy-surge@v1.0.0
        with:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
          DOMAIN_NAME: https://ng-alain-doc.surge.sh
          BUILD_DIRECTORY: ./src/dist

      - name: deploy-to-gh-pages
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./src/dist
        with:
          emptyCommits: false
