name: docker-build-doc-site

on: push
# on:
#   push:
#     branches:
#       - master

jobs:
  website:
    if: "startsWith(github.event.commits[0].message, 'release')"
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0

      - name: checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login Docker
        uses: docker/login-action@v2
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.GITLAB_USERNAME }}
          password: ${{ secrets.GITLAB_PASSWORD }}
          # Docker Hub
          # username: ${{ secrets.DOCKERHUB_USERNAME }}
          # password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.docs
          push: true
          tags: registry.gitlab.com/ng-alain/images:docs
